﻿<md-content layout="row" layout-padding layout-margin layout-align="start start">
    <input type="file" my-file="mp3" class="ng-hide" id="file-input" />
    <md-input-container>
        <label>Filename</label>
        <input type="text" ng-model="mp3.name" ng-readonly onclick="{ $('#file-input').click(); }" />
    </md-input-container>
    <md-input-container layout="row">
        <md-button class="md-raised md-primary" ng-click="uploadfile($event)">Upload mp3</md-button>
    </md-input-container>
    <md-content>
        <md-progress-circular md-mode="determinate" value="{{progress}}"></md-progress-circular>
    </md-content>
</md-content>