﻿<md-tabs md-dynamic-height md-border-bottom>
        
    <!--Sign in-->
    <md-tab label="Sign In" layout-fill>
        <div layout="column" layout-margin layout-align="center stretch">
            <md-input-container>
                <label>Email: </label>
                <input ng-model="login.email" type="text">
            </md-input-container>
            <md-input-container>
                <label>Password: </label>
                <input ng-model="login.password" type="password">
            </md-input-container>
        </div>

        <div layout="row" layout-margin layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="login($event)">Login</md-button>
        </div>
    </md-tab>

    <md-tab label="Sign Up" layout-fill>
        <div layout="column" layout-margin layout-align="center stretch">

            <md-input-container>
                <label>Email: </label>
                <input ng-model="signup.email" ng-maxlength="150" type="text">
            </md-input-container>

            <md-input-container>
                <label>Password: </label>
                <input ng-model="signup.password" ng-maxlength="36" type="password">
            </md-input-container>

            <md-input-container>
                <label>Confirm Password: </label>
                <input ng-model="signup.confirmPassword" ng-maxlength="36" type="password">
            </md-input-container>

            <md-input-container flex="30">
                <label>Firstname</label>
                <input ng-model="userinfo.firstname" ng-maxlength="150" type="text">
            </md-input-container>

            <md-input-container flex="30">
                <label>Lastname</label>
                <input ng-model="userinfo.lastname" ng-maxlength="150" type="text">
            </md-input-container>

            <md-input-container flex="30">
                <label>Phone Number</label>
                <input ng-model="userinfo.phoneNumber" ng-maxlength="150" type="text">
            </md-input-container>

            <md-datepicker ng-model="userinfo.birthday" md-placeholder="Birthday" md-open-on-focus />

        </div>

        <div layout="row" layout-margin layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="signup($event);">Signup</md-button>
        </div>
    </md-tab>
</md-tabs>