<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript">
        var userData = undefined;
    </script>
    <!--Angular Material CSS-->
    <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css">-->
    <link rel="stylesheet" href="https://material.angularjs.org/latest/angular-material.css" />

    <title>My Firebase Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

    <!--Jquery Libary-->
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>-->
    <script src="https://material.angularjs.org/latest/angular-material.js"></script>

    <!--Import Firebase JS-->
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>

    <!--Import ngStorage Module for $localStorage and $sessionStorage-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>

    <script src="../Scripts/MyFirebaseConfig.js"></script>

</head>

<body ng-app="myFireBase">
    <script src="../Scripts/MyFirebaseAppConfig.js"></script>
    <script src="../Scripts/MainPageController.js"></script>
    <!--Side menu-->
    <div layout="column" style="height: 500px;" ng-cloak ng-controller="mainPageCtrl">

        <md-toolbar>
            <div layout="row">
                <h1 class="md-toolbar-tools" ng-click="toggleLeft()">Menu</h1>
            </div>
        </md-toolbar>

        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
                <div>
                    <ng-include src="'SignUpIn/SignUpIn.html'" ng-controller="signUpInCtrl">
                        <script src="../Scripts/SignUpInController.js"></script>
                    </ng-include>
                </div>

                <!--<md-content md-theme="docs-dark" layout="row" layout-margin layout-align="space-around center">-->
                <div layout="row" layout-margin layout-align="end center">
                    <md-button class="md-raised" ng-click="logout($event)">Logout</md-button>
                </div>

                <div>
                    <ng-include src="'UploadMusic/UploadMusic.html'" ng-controller="uploadFileCtrl">
                        <script src="../Scripts/UploadFileController.js"></script>
                    </ng-include>
                </div>
            </md-sidenav>
            <md-content flex layout-padding>
                <div layout="column" layout-align="top center">

                </div>
            </md-content>
        </section>
    </div>
    <!--End Side menu-->
    <div layout="column" ng-cloak class="md-inline-form">

        <script src="../Scripts/MyFirebaseController.js"></script>

        <md-content layout="row" layout-padding layout-margin layout-align="start start">
            <input type="file" my-file="mp3" class="ng-hide" id="file-input" />
            <md-input-container>
                <label>Filename</label>
                <input type="text" ng-model="mp3.name" ng-readonly onclick="{ $('#file-input').click(); }" />
            </md-input-container>
            <md-input-container layout="row">
                <md-button class="md-raised md-primary" ng-click="uploadfile($event)">Upload mp3</md-button>
            </md-input-container>
            <md-content>
                <md-progress-circular md-mode="determinate" value="{{progress}}"></md-progress-circular>
            </md-content>
        </md-content>

        <md-content layout="row" layout-margin layout-align="start start">
            <audio autoplay="autoplay" id="id-player" controls>
                <source type="audio/mp3" id="id-song-source" />
            </audio>
        </md-content>

        <md-content layout="column">
            <md-input-container layout="row">
                <md-button class="md-raised md-primary" ng-click="loadSongs($event)">Load mp3</md-button>
            </md-input-container>

            <md-list layout-margin>
                <md-list-item ng-repeat="song in songs">
                    <p>{{song.fileName}}</p>
                    <md-button class="md-primary" ng-click="trustURL(song);">Play</md-button>
                </md-list-item>
            </md-list>
        </md-content>

    </div>

</body>

</html>